WEBSHARE_PROXY_URL=http://username:password@proxy.webshare.io:80
OPENAI_API_KEY=
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/000000000000000000/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
POLL_INTERVAL_SECONDS=300
PERSIST_JOBS=0