WEBSHARE_PROXY_URL=http://username:password@proxy.webshare.io:80
OPENAI_API_KEY=
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T000000/B000000/XXXXXXXXXXXXXXXXXXXXXXXX
POLL_INTERVAL_SECONDS=300
PERSIST_JOBS=0